<ion-view title="LOGIN">
  <ion-content>
    <div class="row fila5">
      <div class="col">
        <center>
        <div class="login">
          <img src="http://pngimg.com/uploads/pokeball/pokeball_PNG7.png" class="loginimg" alt="">
          <br>
          <form>
            <label for="">Usuario</label><br>
            <input type="text" placeholder="  Inserte su Email" name="" value="">
            <label for="">Contraseña</label><br><br>
            <input type="password" placeholder="  Inserte su contraseña " name="" value="">
            <br><br>
            <button type="button" class="button1" name="button"><a ui-sref="Portada"> INICIAR </a></button>
          </form>
        </div>
      </center>
      </div>
    </div>
  </ion-content>
</ion-view>
