<ion-view title="PORTADA">
  <ion-content>
    <div class="row" id="fila">
      <div class="col" id="h4">
        <h3><a ui-sref="login">Login</a></h3>
      </div>
      <div class="col" id="h4">
        <h3><a ui-sref="login">Registro</a></h3>
      </div>
      <div class="col" id="h4">
        <h3><a ui-sref="Portada">Portada</a></h3>
      </div>
      <div class="col" id="h4">
        <h3><a ui-sref="juego">PDEX</a></h3>
      </div>
    </div>
    <div class="row fila2">
      <div class="col">
        <img id="imagens" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png" alt="">
      </div>
    </div>
    <div class="row fila2">
      <div class="col">
        <div class="noti1">
          <img src="https://assets.pokemon.com/assets//cms2-es-es/img/video-games/_tiles/pokemon-sword-shield/06112019/pokemon-sword-shield-169-es.jpg" id="noti1img" alt="">
          <h3 id="h3">¡SAL DE EXCURSION CON TU POKEMON ESPADA Y TU POKEMON ESCUDO!</h3>
          <p>Descubre los pokemon Dinax y lo que te espera en el area silveste de Galaf</p>
        </div>
      </div>
    </div>
    <div class="row fila2">
      <div class="col">
        <div class="noti2">
          <img src="https://assets.pokemon.com/assets//cms2-es-es/img/trading-card-game/_tiles/sm11/interview/sm11-creatures-interview-169-es.jpg" class="noti2img" alt="">
          <br>
          <p>La mente detras de la union de los equipos de RELEVOS de Pokemon-GX</p>
        </div>
      </div>
      <div class="col">
        <div class="noti3">
          <img src="https://assets.pokemon.com/assets//cms2-es-es/img/trading-card-game/series/incrementals/kangaskhan-gx-box/tcg-kangaskhan-gx-box-34-es.jpg" class="noti3img" alt="">
          <br><br>
          <p>Hazte con el poderoso Kangaskhan-GX</p>
          <br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
